
@import "tailwindcss";

/* DEFINE DESIGN SYSTEM: defines values that Tailwind uses to generate utilities */
@theme {
    --font-gamja: "Gamja Flower", sans-serif;;
}

/* GOBLA DEFAULTS: used when styling raw HTML elements or setting global defaults */
@layer base {
    *,
    *::after,
    *::before {
        @apply m-0 p-0 box-border;
    }

    html,
    body {
        @apply h-full overflow-hidden font-gamja;
    }
}

/* REUSABLE COMPONENTS: used when creating reusable classes eg specifi button styling */
@layer components {
    .text {
        @apply relative font-medium text-3xl md:text-5xl lg:text-8xl;
    }

    .animate-text {
        @apply tracking-[1px] text-white;
    }

    .typed-cursor {
        @apply text-3xl font-medium leading-none text-white opacity-100 animate-[blink_0.7s_infinite] md:text-5xl lg:text-8xl;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }

    button {
        @apply transition-all duration-300 ease-in-out hover:scale-105 cursor-pointer;
    }

    .emotion-btn {
        @apply grid place-content-center gap-1 min-w-[72px] max-h-[72px] py-2 font-semibold rounded-[10px] bg-white/10 text-white border border-white/20 transition-all duration-300 ease-in-out hover:scale-110 hover:shadow-[0_4px_20px_rgba(0,0,0,0.2)] hover:bg-white/20 cursor-pointer;
    }

    .emotion-btn.selected {
        @apply bg-white text-black scale-110 shadow-[0_4px_20px_rgba(0,0,0,0.2)];
    }

    h2, label { 
        @apply text-white; 
    }

    .emotion-btn > img {
        @apply w-8 h-8 mx-auto;
    }

    textarea {
        @apply p-[4px] border-none rounded-[10px] text-[14px] w-full h-[12em] leading-[1.5em] overflow-y-auto resize-none bg-white;
    }

    textarea:focus, button:focus {
        outline: #a89bd1;
    }
}